<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0599be;">
    <div class="container-fluid">
        <img
      width="40"
      alt="Logo"
      src="assets/smart-hospital/smart-hospital.png"
    />
      <a class="navbar-brand" href="#">E Channeling Ultra</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink='/aboutus'>Aboutus</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  


<router-outlet></router-outlet>