
<div id="contain">
  
  <div class="MYT">
   
   <h1>About us</h1>
    <h2>TEAM CYBER TERRORISTS</h2>
    <div> <img src="../../assets/smart-hospital/smart-hospital.png" width="300" height="300" alt=""> </div>
  </div>
  
  
  
  <div class="par">
    <P><b><h2>SO,.....</h2></b><b>E Channeling Ultra Pro Max</b> is a service that offers convenient booking facilities
          for Doctor
          Appointments at island wide prominent channelling centers and nursing homes in Sri Lanka.We
          wish to develop a network of over 50 channelling centers and nursing homes with more than 300
          doctors within the country.
    </P>
    <h3>Enjoy it</h3>
  </div>
  
  
  
  <div class="inside2">
    <h3>OUR TEAM</h3>
    <p>
    194089T	 LAKSHAN W.M.R.T <br>
    194084A	 KUMARA D.L.S. <br>
    194106V	 MAYADUNNE L.V.<br>
    194070D	 JAYASINGHE J.M.S.S. <br>
    194128N	 RANAWAKE R.A.C.H.N. <br>
    </p>
  </div>
  
  <div class="inside">
    <h3>IN-1620 WEB TECHNOLOGIES</h3>
    <p>
    GROUP NO:12<br>
    BATCH-19<br>
    FACULTY OF INFORMATION TECHNOLOGY<br>
    UNIVERSITY OF MORATUWA<p>
    </p>
  </div>
  
  </div>