



<div class="jumbotron text-center">
  <h1>Welcome to {{ title }}</h1>
  <p>“We are here to help for you.”</p> 
  <DIv>
    <img src="../../assets/smart-hospital/smart-hospital.png" width="300" height="300" alt="">
  </DIv>
  <div class="b"><button type="button" class="w3-button w3-block w3-theme-l1" routerLink="/login">Here we go!</button></div>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Patient</h2>
      <button type="button" class="btn btn-primary" routerLink="/registerpatient">Register as Patient</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      
    </div>

    <div class="col-sm-6">
      <h2>Doctor</h2> 
      <button type="button" class="btn btn-primary" routerLink="/register">Register as Doctor</button>
     
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
     
    </div>
  </div>
</div>

